.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

#title {
  background-color: ForestGreen;
}

h1 {
  color: White;
}

h2 {
   color: Black; !important;
 }

 a {
   color: Black; !important;
 }
